<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheWoodWorks | Product Listing</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="index.css">
    <script src="/javascripts/product_details.js"></script>
</head>
<body onload="currentSlide(1)">
    <style>
        #header {
            padding-top: 20px;
            padding-bottom: 20px; 
            border-bottom: 6px solid #4d243d;
            background-color: #d0a98f;
            position: fixed;
            width: 100%;
            top: 0;
            height : 160px;
        }
        #header_blank {
            height : 200px;
        }
        #footer {
            margin-top: 20px;
            padding-top: 20px;
            padding-bottom: 20px; 
            background-color: #4d243d;
        }
        #footer p {
            color: #ecdcc9;
        }
        #logo {
            width: 400px;
            margin-bottom: 10px;
        }
        #logo:hover {
            cursor: pointer;
        }
        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        nav ul li {
            display: inline-block;
            position: relative;
        }
        nav ul li a {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 18px;
            color: #4d243d;
            font-weight: bold;
            transition: background-color 0.3s;
        }
        nav ul li a:hover {
            background-color: #ecdcc9;
            border-bottom: 6px solid #4d243d;
        }
        nav ul li ul {
            display: none;
            position: absolute;
            background-color: #ecdcc9;
        }
        nav ul li:hover ul {
            display: block;
        }
        nav ul li ul li {
            display: block;
            white-space: nowrap;
        }
        nav ul li ul li a {
            display: block;
            padding: 10px 20px;
            text-decoration: none;
            font-size: 18px;
            color: #4d243d;
            font-weight: bold;
            transition: background-color 0.3s;
        }
        nav ul li ul li a:hover {
            background-color: #cac2b5;
        }
        .menu {
            margin-top: 50px;
            display: flex;
            justify-content: flex-end; 
        }
        p {
            color: #4d243d;
        }
        ul li {
            color: #4d243d;
        }
        h1 {
            color:#d0a98f;
        }
        h2 {
            color: #cac2b5;
        }
        .product_sub_image {
            width: 100%;
            padding: 5px;
        }
        /* Hide the images by default */
        .mySlides {
            display: none;
            width: 100%;
            padding: 5px;
            margin-bottom: 5px;
            padding-left: 40px;
            padding-right: 40px;
        }
        /* Next & previous buttons */
        .prev, .next {
            cursor: pointer;
            top: 50%;
            width: auto;
            margin: 10px;
            padding: 10px;
            color: #4d243d;;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 3px;
            user-select: none;
            text-decoration: none;
        }
        /* On hover, add a black background color with a little bit see-through */
        .prev:hover, .next:hover {
            background-color: #d0a98f;
            color: white;
        }
        #slide_nav {
            text-align: center;
        }
        /* The dots/bullets/indicators */
        .dot {
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            margin-bottom: 20px;
            background-color: #edd4b2;
            border-radius: 50%;
            display: inline-block;
            transition: background-color 0.6s ease;
        }
        .active, .dot:hover {
            background-color: #d0a98f;
        }
        .product_name {
            color: #4d243d;
        }
        .product_keywords {
            color: #cac2b5;
        }
        .form_element {
            padding-top: 10px;
            padding-bottom: 10px;
        }
        input[type=submit] {
            background-color: #d0a98f;
            color: #4d243d;
            font-weight: bold;
            padding: 12px 20px;
            border: 2px solid #cac2b5;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        input[type=submit]:hover {
            background-color: #ecdcc9;
        }
    </style>

    <%- include('navbar'); %>

    <!--    ----- ADD NEW CONTENT HERE -----    -->
    <div class="container">
        <div class="row">
            <div class="row col-7">
                <div class="col-2">
                    <img class="product_sub_image" src="/Images/Wireframe Placeholder Images/dresser.jpeg">
                    <img class="product_sub_image" src="/Images/Wireframe Placeholder Images/dresser2.jpeg">
                    <img class="product_sub_image" src="/Images/Wireframe Placeholder Images/dresser3.jpeg">
                    <img class="product_sub_image" src="/Images/Wireframe Placeholder Images/dresser4.jpeg">
                </div>
                <div class="col-10">
                    <!-- <img id="product_image" src="Images/Wireframe Placeholder Images/dresser.jpeg"> -->
                    <!-- Slideshow container -->
                    <div class="slideshow-container">
                        <!-- Full-width images with number and caption text -->
                        <div class="mySlides">
                            <img src="/Images/Wireframe Placeholder Images/dresser.jpeg" style="width:100%">
                        </div>
                    
                        <div class="mySlides">
                            <img src="/Images/Wireframe Placeholder Images/dresser2.jpeg" style="width:100%">
                        </div>
                    
                        <div class="mySlides">
                            <img src="/Images/Wireframe Placeholder Images/dresser3.jpeg" style="width:100%">
                        </div>

                        <div class="mySlides">
                            <img src="/Images/Wireframe Placeholder Images/dresser4.jpeg" style="width:100%">
                        </div>
                    
                        <!-- Next and previous buttons -->
                        <div id="slide_nav">
                            <a class="prev" onclick="plusSlides(-1)">&#10094; Previous</a>
                            <a class="next" onclick="plusSlides(1)">Next &#10095;</a>
                        </div>
                    </div>
                    <br>
                    <!-- The dots/circles -->
                    <div style="text-align:center">
                        <span class="dot" onclick="currentSlide(1)"></span>
                        <span class="dot" onclick="currentSlide(2)"></span>
                        <span class="dot" onclick="currentSlide(3)"></span>
                        <span class="dot" onclick="currentSlide(4)"></span>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <h1 class="product_name"><%= listing.listingtitle %></h1>
                <h1><%= listing.listingprice %></h1>
                <p class="product_keywords"><%= listing.listingdesc %></p>
                <form action=<%= "/product_details/addtocart/"+listing.id %> method="post">
                    <div class="form_element">
                        <input type="submit" value="Add to Cart">
                    </div>
                </form>
                <p><strong>Item Details</strong></p>
                <ul>
                    <li><%= "Width: "+listing.listingtitle %></li>
                    <li><%= "Height: "+listing.listingheight %></li>
                    <li><%= "Depth: "+listing.listingdepth %></li>
                </ul>
                <p><strong>Meet Your Sellers</strong></p>
                <p>Timber Treasures was been providing high quality handmade furniture since 2008. Owned by carpenter Johnny Appleseed, Timber Treasures specializes in modern bedroom and office furniture.</p>
                <form action="">
                    <div class="form_element">
                        <input type="submit" value="Message Seller">
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div id="footer"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>